################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/Griglie_Combo_Auto_Completamento/v15/Server/sqlite3/db.lock
